{% extends 'base.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/general.css' %}">


<div class="top-menu">
    <div class="logo">Bicep Bakery</div>
    <div class="menu-punkts">
        <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
    <div class="user-profile">
        {% if request.user.is_authenticated %}
            <p class="username-user">{{request.user.username}}</p>
            <a href=""><i class="fa-solid fa-basket-shopping"></i></a>
            <i class="fa-solid fa-user dropbtn" onclick="dropdownUser()"></i>
        {% else %}
            <i class="fa-solid fa-right-to-bracket dropbtn" onclick="dropdownUser()"></i>
        {% endif %}
    </div>
</div>
<div class="user-dropdown" id="userDropdown">
    <ul>
        {% if request.user.is_authenticated %}
        <li><a href="">My profile</a></li>
        <li><a href="">My orders</a></li>
        <li><form method="post" action="{% url 'auth_system:logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-menu-btn">Вийти</button>
        </form></li>
        {% else %}
            <li><a href="{% url 'auth_system:register' %}">Register</a></li>
            <li><a href="{% url 'auth_system:login' %}">Login</a></li>
        {% endif %}
    </ul>
</div>

<div class="main-backgr">
    <img src="{% static 'img/mainpgbg.png' %}" alt="">
</div>

{% block content %}
<div class="info-wrapper">
    <div class="info-item">
        <i class="fas fa-heart"></i>
        <div class="info-text">
            <h4>6мл+</h4>
            <p>задоволених замовників</p>
        </div>
    </div>

    <div class="info-item">
        <i class="fas fa-hourglass-half"></i>
        <div class="info-text">
            <h4>До 4 днів</h4>
            <p>швидка доставка</p>
        </div>
    </div>

    <div class="info-item">
        <i class="fas fa-box"></i>
        <div class="info-text">
            <h4>Безкоштовна доставка</h4>
            <p>для замовлень на суму від 2250 грн</p>
        </div>
    </div>

    <div class="info-item">
        <i class="fas fa-shopping-bag"></i>
        <div class="info-text">
            <h4>5000+ продуктів</h4>
            <p>широкий асортимент</p>
        </div>
    </div>
</div>

<div class="goals-container">
    <h2>Відкрийте для себе перевірені продукти, які допоможуть вам досягти ваших цілей</h2>
    <div class="goals-grid">

        <a href="">
        <div class="goal-item">
            <img src="{% static 'img/proteine.jpg' %}" alt="Схуднути">
            <p><strong>Протеїни</strong></p>
        </div>
        </a>

        <a href="">
        <div class="goal-item">
            <img src="{% static 'img/creatine.jpg' %}" alt="Нарощувати м'язову масу">
            <p><strong>Креатини</strong></p>
        </div>
        </a>

        <a href="">
        <div class="goal-item">
            <img src="{% static 'img/preworkout.jpg' %}" alt="Сприяти регенерації">
            <p><strong>Передтренувальні комплекси</strong></p>
        </div>
        </a>

        <a href="">
        <div class="goal-item">
            <img src="{% static 'img/gainer.jpg' %}" alt="Підвищити продуктивність">
            <p><strong>Гейнери</strong></p>
        </div>
        </a>
        
    </div>
</div>
    <!-- <div class="search-container">
        <form action="#" method="GET">
            <input type="text" id="btn-search" class="material-icons" value="Search..." />
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div> -->
<div class="content">
    {% for product in products %}
        {% include 'shop/product-card.html' %}
    {% endfor %}
</div>
{% endblock %}

<script src="{% static 'js/general.js' %}"></script>
{% endblock %}